# Use public servers from the pool.ntp.org project.
# Please consider joining the pool (http://www.pool.ntp.org/join.html).
<% @servers.each do |server| -%>
server <%= server %>
<% end %>
#whitelist localhost
restrict default nomodify nopeer noquery kod
driftfile /var/lib/ntp/drift
tinker panic 10000